#navwrap {
    clear: both;
    border-bottom: 3px solid [[setting:menubordercolor]];
}

.navbar {
    clear: none;
    float: none;
    margin-bottom: 0;
    min-width: 40%;
    margin-top: 0px;
    margin-left: -20px;
}

.navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border: 0px solid #D4D4D4;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
    min-height: 40px;
    padding-left: 0px;
    padding-right: 0px;
    filter: none;
    border-top: 0px solid #9E1B12;
    border-bottom: 0px solid #9E1B12;
    box-shadow: none;
}

.navbar .nav > li > a {
    color: [[setting:menufontcolor]] !important;
    line-height: 40px;
    float: none;
    padding: 0px [[setting:menufontpadding]] 0px [[setting:menufontpadding]];
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    font-size: [[setting:menufontsize]];
    text-transform: none;
    border-right: 0px solid rgba(0,0,0, .2);
    background: transparent !important;
}

.navbar .nav > li > a:hover {
    color: [[setting:menufontcolor]];
    background-color: none;
    text-decoration: none;
}

.navbar .dropdown-toggle{
    height: 38px;
}

.navbar .dropdown-submenu .dropdown-toggle{
    height: 18px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #fff;
     font-size: [[setting:menufontsize]];
}

.navbar .btn-navbar, .navbar .btn-navbar:hover, .navbar .btn-navbar:active {
    background-color:#001e3c;
    background: #001e3c !Important;
}

.navbar .pull-right a {
    padding: 4px 15px;
    border-left: 0px solid rgba(255,255,255, .2);
}

.navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
    display: none;
}

.dropdown-toggle{
    height: 30px;
}

.dropdown-menu {
    border: 1px solid #c0c0c0;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    font-size: [[setting:menufontsize]];
    top: 40px;
    background-clip: padding-box;
    background-color: #ffffff;
    display: none;
    float: right;
    list-style: outside none none;
    margin: 2px 0 0;
    padding: 5px 0;
    position: absolute;
    right: 0;
    min-width: 250px;
    top: 100%;
    z-index: 1000;
    border-radius: 6px;
}

.nav .dropdown-menu .icon-time{
    margin-left: 4px;
    background-position: -48px -24px;
}

.nav .dropdown-menu li a {
    border-bottom: 1px solid #EEEEEE;
    color: #687074;
    font-size: 13px;
    font-weight: 400;
    padding: 6px 10px;
    border-bottom-width: 1px !important;
}

.nav .dropdown-menu li a:hover, .navbar .nav > li > a:hover {
    background: rgba(255,255,255,.1);
    color: #333;
}

.dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background: rgba(255,255,255,.1);
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 6px; !important
}

@media only screen and (min-width : 1068px) {
    /*on hover only for large screens adjusted to exclude ipad portrait*/
    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: -10px;
        visibility: hidden;
        margin-top: -1px;
    }

    .newmenus .dropdown-menu {
        left: 0%;
        position: absolute;
        visibility: hidden;
        margin-top: 0px;
    }

    .dropdown-submenu>.dropdown-menu {
        display: none;
    }

    .dropdown-menu li:hover .sub-menu, .newmenus:hover .dropdown-menu {
        visibility: visible;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    /*end on hover hack */
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .nav > li:last-child > a {
  border-right: 0px !important;
}

.dropdown .fa.fa-briefcase {
  padding-right: 4px;
}

.navbar .btn, .navbar .btn-group {
  margin-top: 3px;
}

/*new menus */
.newmenus {
  position: relative;
  margin-left: 20px;
  font-size: [[setting:topmenufontsize]];
  height:26px;
}

.newmenus .dropdown-menu .dropdown-menu {
    left: 100%;
}

.newmenus .dropdown-toggle {
  color: [[setting:headertextcolor]];
  background: transparent !important;
}

.newmenus .dropdown-menu li a {
    color: [[setting:maincolor]] !important;
    font-size: 13px;
    font-weight: 400;
    padding: 3px 10px;
}

.newmenus .dropdown-menu li:hover a {
  background: #eee;
}

.newmenus .dropdown-toggle:hover, .newmenus .dropdown-toggle:active, .pull-left .usermenu2.nav a:hover {
  background-color: transparent !important;
}

.newmenus .dropdown-toggle::after {
  font-family:FontAwesome;
margin-left:5px;
content:"\f107";
font-weight: normal;
color: [[setting:headertextcolor]];
}

.newmenus .dropdown-menu .dropdown-toggle::after {
  color: transparent;
}

@media (max-width: 979px) {
  .hbl, .sbl, .hbll, .sbll {
            display: none !important;
  }

  .navbar .dropdown-toggle{
    height: 38px;
  }

  .nav-collapse .nav {
    width:100%;
    margin-left: 0px !important;
  }

  #navwrap {
            border-bottom: 0;
  }

  #page-header a img {
            margin: 0 auto;
            float: none;
            display: block;
  }
  .nav .dropdown-menu li a {
    color: [[setting:menufontcolor]];
  }

  .nav-collapse.active{
    background: [[setting:mobilemenubkcolor]];
    height: auto;
    top: 6px;
    padding-bottom:4px;
  }

  .nav-collapse.active > .nav > li > a, .nav-collapse.active > .nav .dropdown-menu li > a {
    color:[[setting:mobilemenufontcolor]] !important;
  }

  #edittingbutton {
    margin-left:10px;
  }
}

.container-fluid {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.menutitle {
    height: 100%;
}

@media (max-width: 990px) {
    .menutitle {
        float: none;
    }
}

@media (max-width: 768px) {
  .newmenu1, .newmenu2, .newmenu3, .newmenu4, .newmenu5, .newmenu6, .newmenu7, .newmenu8, .newmenu9, .newmenu10[[setting:hidepagefootermobile]][[setting:hidebreadcrumbmobile]][[setting:hidealertsmobile]][[setting:hidesocialmobile]][[setting:hideheadermobile]][[setting:hidelogomobile]][[setting:hidecoursetitlemobile]] {
      display: none;
  }
}
